/**
* Projects.scss
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-09-17 12:26:23
* @last-modified 2019-09-22 20:05:03
*/

@import 'src/styles/variables';

.projects {
  background: $white;
  height: auto;
}

.projects .content {
  color: $black;
  font-family: $font-default;
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  .projects .content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .projects .content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.projects > :last-child {
  padding-bottom: 60px;
}

.projects .title {
  font-size: 3em;
  font-weight: 600;
  line-height: 3em;
  border-bottom: 12px solid $red-2 !important;
  padding-bottom: 0px !important;
  text-align: left;
}

.projectCard {
  color: $black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  width: 90%;
  text-align: left;
  text-overflow: ellipsis;
}

.projectCard > .name {
  color: $black;
  display: inline-block;
  font-family: $font-dynamic;
  font-size: 2.8em;
  font-weight: 500;
  border-bottom: 12px solid $orange-1 !important;
  margin-bottom: 12px;
  padding-bottom: 0px !important;
}

.projectCard i {
  color: $orange-3 !important;
  font-size: 1.5em;
  margin: 0 5px 0 5px;
}

.projectCard > img {
  margin-bottom: 25px;
  width: 100%;
}

.projectCard > .description {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.4em;
}
