/**
* variables.scss
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-09-15 22:20:48
* @last-modified 2019-09-27 01:54:43
*/

@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Crimson+Pro:500,500i|family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');

// Theme text fonts.
$font-default: 'Montserrat', sans-serif;
$font-muli: 'Muli', sans-serif;
$font-dynamic: 'Muli', sans-serif;
$font-fira: 'Fira Sans', sans-serif;
$font-serif: 'Crimson Pro', serif;

// Theme colors.
$black: #121212;
$black-lighter: #161616;
$black-darker: #0d0d0d;
$white: #f1f1f1;
$green: #52c18f;
$red: #ef5350;
$orange: #e6b89c;
$yellow: #ead2ac;
$bluegrey: #9cafb7;
$lightblue: #5776a4;
$blue: #072044;
$darkblue: #021d44;
