/**
* variables.scss
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-09-15 22:20:48
* @last-modified 2019-09-18 01:11:39
*/

@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Muli|Alegreya+Sans:500,500i|Crimson+Pro:500,500i|Roboto+Mono&display=swap&subset=latin-ext');

$font-default: 'Muli', sans-serif;
$font-dynamic: 'Alegreya Sans', sans-serif;
$font-fira: 'Fira Sans', sans-serif;
$font-serif: 'Crimson Pro', serif;
$font-code: 'Roboto Mono', sans-serif;

$indigo-9: #1a237e;
$indigo-8: #7686fa;
$indigo-7: #303f9f;
$indigo-6: #3949ab;
$indigo-5: #3f51b5;
$indigo-4: #5c6bc0;
$indigo-3: #7986cb;
$indigo-2: #9fa8da;
$indigo-1: #c5cae9;

$orange-6: #fb8c00;
$orange-5: #ff9800;
$orange-4: #ffa726;
$orange-3: #ffb74d;
$orange-2: #ffcc80;
$orange-1: #ffe0b2;

$red-6: #e53935;
$red-5: #f44336;
$red-4: #ef5350;
$red-3: #e57373;
$red-2: #ef9a9a;
$red-1: #ffcdd2;

$black: #202020;
$black-1: #282828;
$black-2: #303030;
$black-3: #383838;

$white: rgb(233, 233, 233);
$white-1: rgb(213, 213, 213);
$white-2: rgb(180, 180, 180);
$white-3: rgb(160, 160, 160);
