/**
* Summary.scss
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-09-15 22:30:41
* @last-modified 2019-09-18 01:16:57
*/

@import 'src/styles/variables';

.summary {
  border-top: 17.5vh $orange-1 solid;
  background: $black;
  height: 100vh;
}

.summary .content {
  color: $orange-2;
  position: relative;
  text-align: center;
  top: 17.5vh;
  z-index: 10;
}

@media (min-width: 768px) {
  .summary .content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .summary .content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.fullName {
  font-family: $font-fira;
  font-size: 4em;
  font-weight: 500;
  margin-top: 7.5vh;
}

.fullName > .first {
  display: inline;
  margin-right: 0.25em;
}

.fullName > .last {
  display: inline;
}

.roles {
  font-family: $font-dynamic;
  font-size: 1.6em;
  font-weight: 500;
  margin-top: 40px;
  line-height: 1.6em;
}

.roles > .bullet {
  margin-left: 5px;
  margin-right: 5px;
}

.roles > .role:hover {
  padding-bottom: 4px !important;
  border-bottom: 4px solid $orange-1 !important;
}

.links {
  color: $orange-1;
  margin-top: 40px;
}

.links > div {
  display: inline;
}

.links i {
  font-size: 2.4em;
  width: 1.6em;
}

.audioAnimation {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  position: relative;
  width: 64px;
}

.audioAnimation span {
  width: 10px;
  height: 60px;
  top: 0px;
  position: absolute;
  background: linear-gradient($red-6, $red-5, $red-4);
  animation: audio 0.5s infinite ease;
}

.audioAnimation span:first-child {
  left: 0px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.audioAnimation span:nth-child(2) {
  left: 18px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.audioAnimation span:nth-child(3) {
  left: 36px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.audioAnimation span:nth-child(4) {
  left: 54px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.audioAnimation span:nth-child(5) {
  left: 72px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes audio {
  0% {
    height: 25px;
  }
  30% {
    height: 30px;
  }
  60% {
    height: 50px;
  }
  80% {
    height: 35px;
  }
  100% {
    height: 20px;
  }
}

@keyframes audio {
  0% {
    height: 25px;
  }
  30% {
    height: 30px;
  }
  60% {
    height: 50px;
  }
  80% {
    height: 35px;
  }
  100% {
    height: 20px;
  }
}
