/**
* Summary.scss
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-09-15 22:30:41
* @last-modified 2019-09-23 00:32:12
*/

@import 'src/styles/variables';

.summary {
  background: $white;
  height: 100vh;
}

.summary > .content {
  background: $yellow-bri;
  color: $black;
  font-family: $font-fira;
  position: relative;
  text-align: center;
  z-index: 10;
}

.summary > .content {
  top: 50%;
  transform: translate(0%, -50%);
}

.topHeader {
  display: block;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: absolute;
  top: 0;
  width: 100%;
}

.topHeader > .content {
  height: 100%;
  position: relative;
}

.topHeader .leftMenu {
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
}

.topHeader .leftMenu a {
  background: $blue-bri;
  color: $white;
  font-size: 1.8em;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  line-height: 1.4em;
  text-align: center;
  text-decoration: none;
}

.topHeader .leftMenu a:hover {
  background: $white;
  color: $blue;
  font-weight: 600;
}

.topHeader .rightMenu {
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
}

.topHeader .rightMenu div {
  display: inline;
}

.topHeader .rightMenu i {
  color: $black;
  font-size: 2em;
  margin-left: 5px;
  margin-right: 10px;
  float: right;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
}

.topHeader .rightMenu i:hover {
  color: $blue;
}

@media (min-width: 768px) {
  .summary .content,
  .topHeader > .content {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .summary .content,
  .topHeader > .content {
    font-size: 0.8em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.Typewriter {
  font-size: 2.8em;
  font-weight: 500;
  line-height: 2em;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.Typewriter h1 {
  color: $black;
  display: inline;
  font-family: $font-default;
  font-size: 1.2em;
  font-weight: 600;
}

.Typewriter h5 {
  color: $blue;
  display: inline;
  font-family: $font-default;
  font-size: 1em;
}

.audioAnimation {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  position: relative;
  width: 64px;
}

.audioAnimation span {
  width: 10px;
  height: 60px;
  top: 0px;
  position: absolute;
  background: $black;
  animation: audio 0.5s infinite ease;
}

.audioAnimation span:first-child {
  left: 0px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.audioAnimation span:nth-child(2) {
  left: 18px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.audioAnimation span:nth-child(3) {
  left: 36px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.audioAnimation span:nth-child(4) {
  left: 54px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.audioAnimation span:nth-child(5) {
  left: 72px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes audio {
  0% {
    height: 25px;
  }
  30% {
    height: 30px;
  }
  60% {
    height: 50px;
  }
  80% {
    height: 35px;
  }
  100% {
    height: 20px;
  }
}

@keyframes audio {
  0% {
    height: 25px;
  }
  30% {
    height: 30px;
  }
  60% {
    height: 50px;
  }
  80% {
    height: 35px;
  }
  100% {
    height: 20px;
  }
}
