/**
* Footer.scss
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-09-17 22:54:17
* @last-modified 2019-09-24 22:57:03
*/

@import 'src/styles/variables';

.footer {
  background: $black;
  flex-shrink: 0;
  position: relative;
  height: 60px;
  width: 100%;
}

.footer .content {
  color: $white;
  font-size: 1.1em;
  line-height: 1em;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer .content i {
  font-size: 0.9em;
  margin: 0 5px 0 5px;
}

.whiteIcon {
  color: $white;
}

.redIcon {
  color: $red;
}
