/**
* index.scss
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-08-24 17:03:39
* @last-modified 2019-09-24 22:44:28
*/

@import 'styles/variables.scss';

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  font-family: $font-default;
  font-size: 14px;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  body {
    font-size: 12px;
  }
}
